		html{
			color: white; 
			min-height:100%;
		}
		body {
			background: url(images/eb-background.gif);
			background: cover;
			background-position: center;
			background-attachment:fixed;
		}
		#div-background {
			padding: 10px;
			border: 0px solid red;
			background: rgba(0, 0, 0, 0.80);
		}
		.center {
			margin:auto;
			width:80%;
			text-align:center;
			
		}
		.alignleft {
			text-align:left;
		}
		a {
			color: #80ff80;
		}
		a:hover {
			color: yellow;
		}
		button {
			background-color: black;
			color: white; 
			border-radius: 8px;
			padding: 15px;
			margin: 5px;
			box-shadow: 0 12px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.3);
		}
		.morepictures{
			 margin: 10px;
			 top: 50%;
			 left: 50%;
			 max-width: 100%;
		}
		div.morepictures {
			height: auto;
			width: auto;
		}
			
		img.smallcovers {
			height: 150px;
			width: 150px;
			margin: 5px;
		}
		.autoresize{
			overflow:hidden;
			max-width: 100%;
		}
		.autoresize img{
		}
		.class{
			clear:both;
		}
		.dizzytop{
			height: auto; width: auto;
		}
		h1 {
			font-size: auto;
			text-shadow: 0 10px 15px white;
			color: yellow;
			text-margin: auto;
		}
		.btn {
			background-color: Black;
			border: white;
			color: white;
			padding: 12px 30px;
			cursor: pointer;
			font-size: 20px;

		}
		.btn:hover {
			background-color: Gold;
			color: black;
		} 
		.dizzyimage {
			height: auto; 
			width: auto;
			}
		.hr {
			border: 5px dashed red;
		}
		#nav {
			width: 100vw;
			background-color: #000000;
			}
		ul	 {
			margin: 0;
			padding: 0;
			display: flex;
			}
		li  {
			list-style-type: none;  
			margin: 0 2vw;
			shadow: 2px;
  /* our font-size will be 3% of the height of the viewport */
			font-size: 3vh;
			}
		#D-D{
			text-decoration: none;
			color: black;
			padding: 2vw;
			font-family: monospace;
			background-color: #C6E9FF;
			 }
		h2 {
			font-size: 28px;
			text-shadow: 0 10px 15px white;
			color: yellow;
			text-margin: auto;	
			}
			
		#navbar {
			position: absolute;
			}
				
		.dropdown {
			width: 10%;
			display: inline-block;
			}

		.dropdown-content {
			display: none;
			position: absolute;
			background: rgba(0, 0, 0, 0.80);
			min-width: 150px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 2px 5px;
			z-index: 1;
			}

		.dropdown:hover .dropdown-content {
			display: block;
			}
			
		.dropdown-content ul {
			display: block;
			font-size: 10px;
			text-align: center;
			margin: 15px;
			}
			
		.dropdown-content li {
			display: block;
			font-size: 15px;
			padding: 2px;
			border: 2px solid yellow;
			margin: 25px 2px;
			}
		.dropdown img {
			height: 10%;
			width: 40%;
			margin: 0px 60px;
			}